astunparse
dm-tree
filelock
fsspec
gast
HeapDict
Jinja2
MarkupSafe
mpmath
networkx
numpy
--extra-index-url https://pypi.nvidia.com --upgrade nvidia-dali-cuda120
pillow
psutil
redis
redis-py-cluster
six
sympy
torch
torchvision
typing_extensions